@tailwind base;
@tailwind components;
@tailwind utilities;

.expend {
    width: 40rem;
    height: 18rem;
    border-radius: 0.5rem;
}

.fold {
    width: 35rem;
    height: 4rem;
}

.emojiButton {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    transition: background .2s,border-color .2s;
}

.emojiButton:hover {
    background-color: var(--ds-blue-300);
    border-color: var(--ds-blue-300);
}

.emojiButton[aria-checked="true"] {
    background: var(--ds-gray-1000);
    border-color: var(--ds-gray-1000);
}